<div class="container pt-5">
  <div class="row">
    <div class="col-12">
      <app-user-info [firstName]="user.firstName" [lastName]="user.lastName" [user]="user" (onLogoutClick)="handleLogout($event)"></app-user-info>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col-12">
      <button class="btn btn-danger" (click)="logout()">Cerrar sesión</button>
    </div>
  </div> -->
  <div class="row">
    <div class="col-12 pt-3">
      <app-todo-list></app-todo-list>
    </div>
  </div>
</div>
