<div class="p-2">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-md-6"></div>
        <div class="col-12 col-md-6 text-right">
          <button class="btn btn-primary" >
            <fa-icon [icon]="'edit'" class="mr-2"></fa-icon> Editar
          </button>
          <button class="btn btn-danger ml-3" (click)="delete()">
            <fa-icon [icon]="'trash'" class="mr-2"></fa-icon> Eliminar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
