<h2 class="text-primary">Cosas por hacer</h2>

<app-spinner-loader *ngIf="!list.length"></app-spinner-loader>

<app-pagination>
  <div class="row">
    <div class="col-xs-12 col-12">
      <pagination
        [boundaryLinks]="true"
        [totalItems]="list.length"
        [itemsPerPage]="5"
        [maxSize]="5"
        [hidden]="!list.length"
      ></pagination>
    </div>
  </div>

  <div class="row">
    <div class="col-12 input-field py-2">
      <input
        appPaginationSearchInputRef
        [fields]="['title', 'description']"
        type="text"
        class="form-control"
        placeholder="Buscar"
      />
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="list-group">
        <app-collapsible-list [multiple]="true">
          <!-- <app-collapsible-item>
            <app-collapsible-item-header>
              <p>
                Hola
              </p>
            </app-collapsible-item-header>
            <app-collapsible-item-body>
              <p>
                Texto de prueba
              </p>
            </app-collapsible-item-body>
          </app-collapsible-item>

          <app-collapsible-item *ngIf="list.length">
            <app-collapsible-item-header>
              <p>
                Hola
              </p>
            </app-collapsible-item-header>
            <app-collapsible-item-body>
              <p>
                Texto de prueba
              </p>
            </app-collapsible-item-body>
          </app-collapsible-item> -->

          <app-pagination-list [items]="list">
            <ng-template let-item let-i="index" let-abs="absoluteIndex">
              <div @deleteSlide>
                <app-collapsible-item>
                  <app-collapsible-item-header>
                    <app-todo-item
                      [item]="item"
                      [index]="abs + 1"
                    ></app-todo-item>
                  </app-collapsible-item-header>
                  <app-collapsible-item-body>
                    <app-todo-item-actions
                      (onDeleteClick)="deleteItem(item)"
                    ></app-todo-item-actions>
                  </app-collapsible-item-body>
                </app-collapsible-item>
              </div>

              <!-- <ng-template
                [ngTemplateOutlet]="collapsible"
                [ngTemplateOutletContext]="{ $implicit: item }"
              ></ng-template> -->
            </ng-template>
          </app-pagination-list>
        </app-collapsible-list>

        <!-- <ng-template #collapsible let-item>
          <app-collapsible-item>
            <app-collapsible-item-header>
              <app-todo-item [item]="item"></app-todo-item>
            </app-collapsible-item-header>
            <app-collapsible-item-body>
              <p>
                {{ item.description }}
              </p>
            </app-collapsible-item-body>
          </app-collapsible-item>
        </ng-template> -->

        <!-- <a class="list-group-item list-group-item-action" *ngFor="let item of list; let i=index">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ item.title }}</h5>
                <small>{{ item.date | customDate: 'short' }}</small>
              </div>
              <p class="mb-1">
                {{ item.description }}
              </p>
              <small>Donec id elit non mi porta.</small>
            </a> -->
      </div>
    </div>
  </div>
</app-pagination>

<!-- <ng-template #template let-item>
  {{ item }}
  <div>
    Hola
  </div>
  <div>
    {{ item.text }}
  </div>
  <span *ngIf="item.other">
    <button>Boton</button>
  </span>
</ng-template>

<ng-template
  [ngTemplateOutlet]="template"
  [ngTemplateOutletContext]="{ $implicit: { text: 'Esto es una prueba' } }"
>
</ng-template>

<ng-template
  [ngTemplateOutlet]="template"
  [ngTemplateOutletContext]="{
    $implicit: { text: 'Otra prueba', other: true }
  }"
>
</ng-template> -->
