<h2 class="text-primary">Cosas por hacer</h2>

<app-spinner-loader *ngIf="!list.length"></app-spinner-loader>

<div class="list-group">
  <a class="list-group-item list-group-item-action" *ngFor="let item of list; let i=index">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ item.title }}</h5>
      <small>{{ item.date | customDate: 'short' }}</small>
    </div>
    <p class="mb-1">
      {{ item.description }}
    </p>
    <!-- <small>Donec id elit non mi porta.</small> -->
  </a>
</div>
