/* You can add global styles to this file, and also import other style files */

.authentication-container {

}

.form-group-icon-field {
	position: relative;

	.form-group-icon {
		position: absolute;
		top: 39px;
		right: 28px;
		z-index: 2;

		&.no-label {
			top: initial;
			bottom: 7px;
		}
	}
}